# Python
flask_server/venv/
flask_server/__pycache__/
flask_server/*.pyc
flask_server/.pytest_cache/
flask_server/*.log

# Android
pils_mobile/.gradle/
pils_mobile/.idea/
pils_mobile/local.properties
pils_mobile/build/
pils_mobile/app/build/
pils_mobile/domain/build/
pils_mobile/data/build/
pils_mobile/presentation/build/
pils_mobile/*.iml
pils_mobile/.DS_Store

# YOLO Models (trop volumineux pour GitHub)
*.pt
*.onnx

# Jupyter
notebooka*.ipynb
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Sensitive
flask_server/gemini_api_key.txt
pils_mobile/local.properties
